version: '3'
services:
  # mariadb
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: ./Dockerfile
    container_name: mariadb
    env_file: .env
    networks:
      - network-inception
    volumes:
      - db-v:/var/lib/mysql
    restart: always

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: ./Dockerfile
    env_file: .env
    volumes:
      - www-v:/var/www
    networks:
      - network-inception
    depends_on:
      - mariadb

  # nginx
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: ./Dockerfile
    networks:
      - network-inception
    volumes:
      - www-v:/var/www
    depends_on:
      - wordpress
    ports:
      - 443:443

# network
networks:
  network-inception:
    name: network-inception
    driver: bridge

volumes:
  db-v:
    name: db-v
    driver: local
    driver_opts:
      device: '/Users/yuje/Inception/db'
      type: 'none'
      o: 'bind'

  www-v:
    name: www-v
    driver: local
    driver_opts:
      device: '/Users/yuje/Inception/wordpress'
      type: 'none'
      o: 'bind'
